.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.header{
    height: auto;
    background-image: url(../IMAGES/bannerhome.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    border: none;
    border-bottom: 1px solid #484A50;
    border-radius: 0px;
    min-height: 100px;
}
.navbar-default {
    background-color: transparent;
}
.navbar-brand {
    font-size: 45px;
    font-weight: 700;
    margin-top: 15px;
}
.navbar-default .navbar-brand:hover {
    color: #4772D9;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: #4772D9;
}
.nav {
    margin-top: 15px;
    text-align: center;
    display: inline;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #6B6FE1;
    background-color: transparent;
}
.bannar_content{
    color: white;
    margin-top: 110px;
}
.bannar_content h1 {
    font-size: 50px;
}.bannar_content .col-md-6{
    padding: 0px 0px 20px;
}
.bannar_content p{
    font-size: 18px;
    letter-spacing: 1px;
}

.bannar_form{
    height: 400px;
    background: linear-gradient(315deg, #746DE2 0%, #4772D9 100%);
    margin-left: 50px;
    margin-bottom: 50px;
}
.form_heading{
    line-height: 35px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #fff;
    font-weight: 700;
}
.form-group{
    position: relative;
}
.form-control{
    padding-left: 40px;
    height: 50px;
}
.form-group i{
    position: absolute;
    font-size: 20px;
    color: #CCCCCC;
    top: 16px;
    left: 12px;
}
form .btn{
    color: white;
    padding: 12px 25px
    font-size: 18px;
    background-color: #636FDE;
    border: 1.5px solid #fff;
}
form .btn:hover{
    color: black;
    background-color: #fff;
}
form p{
    font-size: 16px;
    margin: 0 0 10px;
    letter-spacing: 1px;
    font-weight: 300;
}
.about_sec{
    height: auto;
}
.image1{
    background-image: url(../IMAGES/about.jpg);
    background-position: center center;
    background-size: auto;
    overflow: hidden;
    height: 550px;
    width: 350px;
    top: -40px;
    margin-left: 15px;
}
.about{
    margin-left: 15px;
}
.about h2{
    font-size: 38px;
    font-weight: 600;
    color: #282828;
}
.underline1{
    height: 2px;
    width: 50px;
    background-color: #4772D9;
    margin: 30px 0px;
}
.about p{
    font-size: 16px;
    letter-spacing: 1px;
    color: #555555;
}
.extra{
    margin-top: 125px;
}
.extra p{
    font-size: 16px;
    letter-spacing: 1px;
    color: #555555;
}
.destination{
    height: auto;
    background-image: url(../IMAGES/destination.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay1{
    position: absolute;
    height: auto;
    color: #4772D9;
    opacity: 0.2;
}
.destin h2{
    font-size: 38px;
    font-weight: 600;
    color: #282828;
}
.underline2{
    height: 2px;
    width: 50px;
    background-color: #282828;
    margin: 30px 0px;
}
.destin p{
    font-size: 16px;
    letter-spacing: 1px;
    color: #282828;
}
.destin_pic1{
    background-image: url(../IMAGES/destination2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 200px;
    width: 200px;
}